rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Open access for Don Bosco Academy ERP & Portal student photos, marksheets & assets
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
